.title {
    text-align: center
}



.header_container {
    display: flex;
    justify-content: center; 
}

.account_marker {
    background-color: rgba(10, 119, 169, 0.5);
    width: 200px;
    left: 0px;
    font-weight: bold;
    margin-left: 10px;
}